html, body {
  margin: 0;
  padding: 0;
  background-color: #101114;
  text-align: center;
}
p,h1{
  color: #ffffff;
  font-family: 'Arial';
}
p{
  font-size: 16px;
}

canvas {
  display: block;
  cursor:all-scroll;
}
#mapLink a{
  text-decoration: none;
  background-color: #235283;
  border-radius: 10px;
  padding: 15px;
}
#mapLink a:visited {
  color: #101114;
}
#mapLink{
  font-family: 'Arial';
  font-variant: small-caps;
  font-weight: bold;
  font-size: 18px;
  color: #101114;
  text-align: center;
  margin: 100px auto ;
}

.text{
  width: 60%;
  display: block;
  margin: auto;
  text-align: justify;

}
.picture{
  position: absolute;
      right: 0px;
      bottom: 20px;
    z-index: 8;
    text-align: right;
    margin-right: 1%;

}
#picture img{
  /*style="width:20%;height:20%;"*/
  width:20%;
  height:20%;
}
.arowButton{
  position: absolute;
    left: 50%;
    margin-left: -100px;
    bottom: 0px;
    z-index: 9;
    width: 200px;
    height: 5%;

  /*position: absolute;
      right: 35%;
      bottom: 0px;
  z-index: 9;
  width: 20%;
  height: 10%;

/*
  border-style: solid;
  border-width: 1px;
  border-color: white;
*/
}

.dropDownButtons{
 /*position:absolute;
 //top:10;
 float: left;
 position:relative;
 border-style: solid;
 border-width: 1px;
 //right:15;*/
 position: absolute;
     left: 18%;
     bottom: 0;
     height: 5%;
  width: 20%;
 z-index: 10;
}

.leaflet-control-zoom {

      }
